[Unit]
Description=Proxelot helper service for starting and stopping containers

[Service]
Type=simple
User=YOUR_USERNAME_HERE
ExecStart=/home/YOUR_USERNAME_HERE/scripts/proxelot-helper.sh
Restart=on-failure

[Install]
WantedBy=default.target